body {
  background-color: #000;
  font-family: 'Oswald', 'Georgia','Verdana', 'sans-serif';
  margin: 0; 
  padding: 0;}
ul {
  border:none;
  padding: 0;
  margin: 0;}

li {
 /* background-color: #ec8b68; */
  color: #fff;
  font-size: 16px;
  letter-spacing: .05em;
  text-align: left;
  list-style-type: none;
  padding-left: 1em;
}

li a {
  color: #fff;
  background-image: url('icon-link.png');
  background-position: right, center;
  background-repeat: no-repeat;
  text-decoration: none;
  padding-right: 36px;
}

li.complete a {
  background-image: none;
}

li.response-text {
  font-size: .75em;
}


label {
  color: #fff;
  
  font-size: 18px;
  letter-spacing: .05em;
  text-align: left;
  padding-left: 1em;
  }
label span {
  background-color: inherit;
  width: 10%;
  display: block;
  float: left;
  text-align: justify;
}

label span.start {
  width:23%;
}

label span.end {
  width: 20%;
}

label input {
  float: left;
}

button {
	float: left;
	clear: left;
}

p {
  background-color: #fff;
  color: #666; 
  padding: 10px;
  display: inline-block;
  margin: 20px auto 20px auto;
  width: 80%;
  border-radius: 5px;
  text-align: center;}

.severe {
  background-color: #922;
  color: #fff;
}

.heightend {
  background-color: #992; 
  color: #fff;
}

.moderate {
  background-color: #292; 
  color: #fff;

}

.relaxed {
  background-color: #229; 
  color: #fff;

}

.established {
  background-color: #333;
  color: #fff;
}

.level {
	padding-left: 1em;
}

/* FORM STYLES */

form {
  padding: 0 20px 20px 20px;}


input[type='text'], input[type='password'], textarea {
  background-color: #999;
  color: #333;
  font-size: 12px;
  padding: 2px 3px;
  border: 1px solid #000;
  border-radius: 8px;}

input[type='submit'], a.add, button, a.show {
  background-color: #cb6868;
  color: #f3dad1;
  border-radius: 8px;
  border: none;
  padding: 8px 10px;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;}

input[type='submit'], a.add, button {
  float: right;} 

input[type='text']:focus, input[type='password']:focus, textarea:focus {
  border: 1px solid #fff;
  background-color: #fff;
  outline: none;}

input[type='submit']:hover, a.add:hover, a.show:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;}


::-webkit-input-placeholder {color: #403c3b; font-family: arial, sans-serif;}
:-moz-placeholder { /* Firefox 18- */ color: #403c3b; font-family: arial, sans-serif;}
::-moz-placeholder {  /* Firefox 19+ */ color: #403c3b; font-family: arial, sans-serif;}
:-ms-input-placeholder { color: #403c3b; font-family: arial, sans-serif;}


textarea {
  width: 96%;
  height: 5em;
  line-height: 1.4em;}

select, option {
  font-size: 12px;}


#footer {
  background:none;
  color: #fff;}

/* Small screen:mobile */
@media only screen and (max-width: 500px) {
  body {
      background-color: #403c3b;
  }
  #page {
    max-width: 480px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
  #page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
/* Larger screens act like a demo for the app */
@media only screen and (min-width: 960px) {
  #page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
  h1{
    background-image: url(../images/2xkinglogo.png);
    background-size: 72px 72px;
  }
}
pre {
	font-size: 12px;
	color: #FFF;
}
